<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="OOD_project.gamestats">

    <application
        android:name=".GlobalGameList"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GameViewer"></activity>
        <activity android:name=".ViewStatistics" />
        <activity android:name=".View100Graph" />
        <activity android:name=".GraphSelect" />
        <activity android:name=".DeleteGameMenu" />
        <activity android:name=".ViewMainGraph" />
        <activity android:name=".ViewGameListMenu" />
        <activity android:name=".AddGameMenu" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>